
.front-flex {
  padding-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: #fcbf49;
}
.front-para {
  text-align: center;
}
.foot-color-flex {
  display: flex;
  background-color: #e0e0e0;
}
.front-img{
  height: 400px;
  width: 400px;
}
.front-button {
  border: none;
  outline: none;
  background: #7bdff2;
  padding: 8px 25px;
  color: #eee;
  font-weight: 600;
  letter-spacing: 2px;
  margin-top: 10px;
  margin-bottom: 20px;
}
.front-button:hover{
  border: none;
  outline: none;
  background: #3a86ff;
  padding: 8px 25px;
  color: #fff;
  font-weight: 600;
  letter-spacing: 2px;
  margin-top: 10px;
  margin-bottom: 20px;
}
.front-para p {
  color: #ffe;
  font-weight: 600;
  font-size: 40px;
}
@media screen and (max-width: 515px) {
  .front-img{
    height: 300px;
    width: 300px;
  }
}
@media screen and (max-width: 440px) {
  .front-img{
    height: 300px;
    width: 300px;
  }
}
